extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="", class="img-fluid")

            .col-md-7.mt-5.mt-md-0 
                h1 #{viaje.titulo}
                p.d-flex.align-items-center
                    i.bx.bx-calendar.mr-2
                    | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                p.d-flex.align-items-center
                    i.bx.bx-dollar.mr-2
                    | #{viaje.precio}
                 
                p.d-flex.align-items-center
                    i.bx.bx-user.mr-2
                    | #{viaje.disponibles} Disponibles
            
                p= viaje.descripcion
